@custom-media --tiny-viewport (max-width: 30em);
@custom-media --small-viewport (max-width: 50em);
@custom-media --large-viewport (min-width: 120em);
$amColor: #51A7DB;
* {
  box-sizing: border-box;
}
body {
  background: #f4f2f3;
  color: color(black lightness(40%));
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  transition: 120ms;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}